body {
  background: url("bg.jpg") center center fixed;
  background-size: cover;
}
#loading {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: -8px;
}
.tooltipped {
  cursor: pointer;
}
.darkbg {
  background: #212121e0;
}
.center {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}